body {
	background: #212121;
}

.page-background {
	background: #212121; /* Old browsers */
	background: -moz-linear-gradient(top, #212121 0%, #2a3e63 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #212121 0%,#2a3e63 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #212121 0%,#2a3e63 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#2a3e63',GradientType=0 ); /* IE6-9 */
	height: 100%;
	width: 100%;
	position: fixed;
}

.user-profile {
	padding: 15px;
}

.user-profile-body {
	background-color: #fff;
	border-radius: 3px;
	position: relative;
	height: 100%;
	padding: 30px;
}

.nav-top {
	width: 100%;
}

.user-memes {
	padding: 0 15px;
}

@media only screen and (min-width: 1132px) {
	.user-profile {
		height: 100%;
		position: fixed;
		width: 33.33%;
	}

	.user-memes {
		float: right;
		width: 66.66%;
	}
}

.meme {
	animation-delay: 0.6s;
}

.grid-sizer,
.meme {
	margin-bottom: 15px;
	width: 100%;
}

.meme.selected img {
	border: 8px solid #ff4489;
}

@media only screen and (min-width: 768px) {
	.grid-sizer,
	.meme {
		width: 48%;
	}
}

@media only screen and (min-width : 992px) {
	.grid-sizer,
	.meme {
		width: 32%;
	}
}

.meme img {
	border-radius: 3px;
  width: 100%;
  height: auto;
}

/* FABs */
.fabs {
	text-align: center;
	right: 0;
}

.fab {
	margin: 0 15px;
}

@media only screen and (min-width: 1132px) {
	.fabs {
		position: absolute;
		bottom: 30px;
		width: 100%;
	}

	.fab {
		/*margin: 0 30px;*/
	}
}

.fab-like {
	background-color: #ff4489;
}

.fab-pass {
	background-color: #415e96;
}

.fab-next {
	background-color: #f1be47;
}

.fab-continue {
	background-color: #419641;
	bottom: 30px;
	position: fixed;
	right: 30px;
}

.fab-continue.disabled {
	display: none;
}

/* Top Nav */
.btn-group-wide {
	width: 100%;
}

.btn-group-wide .btn {
	width: 20%;
}