body {
	background-color: #eee;
}

.user-profile {
	padding: 15px;
}

.nav-top {
	width: 100%;
}

.user-memes {
	padding: 0 15px;
}

@media only screen and (min-width: 1132px) {
	.user-profile {
		height: 100%;
		position: fixed;
		width: 33.33%;
	}

	.user-profile-body {
		background-color: #fff;
		border-radius: 3px;
		position: relative;
		height: 100%;
		padding: 30px;
	}

	.user-memes {
		float: right;
		width: 66.66%;
	}
}

.grid-sizer,
.meme {
	margin-bottom: 15px;
	width: 100%;
}

.meme.selected img {
	border: 8px solid #ff4489;
}

@media only screen and (min-width: 768px) {
	.grid-sizer,
	.meme {
		width: 48%;
	}
}

@media only screen and (min-width : 992px) {
	.grid-sizer,
	.meme {
		width: 32%;
	}
}

.meme img {
	border-radius: 3px;
  width: 100%;
  height: auto;
}

/* FABs */
.fabs {
	text-align: center;
	right: 0;
}

.fab {
	margin: 0 15px;
}

@media only screen and (min-width: 1132px) {
	.fabs {
		position: absolute;
		bottom: 30px;
		width: 100%;
	}

	.fab {
		/*margin: 0 30px;*/
	}
}

.fab-like {
	background-color: red;
}

.fab-pass {
	background-color: blue;
}

.fab-continue {
	background-color: #419641;
	bottom: 30px;
	position: fixed;
	right: 30px;
}

.fab-continue.disabled {
	display: none;
}

/* Top Nav */
.btn-group-wide {
	width: 100%;
}

.btn-group-wide .btn {
	width: 25%;
}