body {
	background-color: #eee;
}

.hero {
	align-items: center;
	background-color: #fff;
	display: flex;
	text-align: center;
	height: 500px;
}

.hero-body {
	width: 100%;
}

.hero-body h1 {
	font-size: 90px !important;
}

.content {
	text-align: center;
	padding: 15px 0;
}