{% extends 'components/base.html' %}
{% load static from staticfiles %}

{% block styles %}
<link href="{% static 'styles/discover/welcome.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/header.html' %}
<div class="hero">
	<div class="hero-body">
		<h1>Welcome</h1>
		<p>We see you're new around here. Let's get you started!</p>
	</div>
</div>

<div class="content">
	<div class="container">
		<p>Pick some of your favorites, and when you're ready, hit the continue button!</p>
	

	<div class="meme-grid">
		<div class="grid-sizer"></div>
		{% for img in images %}
			<div class="meme" data-meme-id="{{ img.id }}">
				<img src="{{ img.url }}" title="{{ img.meme.title }}" />
			</div>
		{% endfor %}
	</div>
	<br />

	<button type="button" class="btn btn-secondary">Load More...</button>
	</div>
</div>

<div class="fab fab-continue"><span>></span></div>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/csrf.js' %}""></script>
<script src="{% static 'lib/masonry/imagesloaded.min.js' %}""></script>
<script src="{% static 'lib/masonry/masonry.min.js' %}""></script>
<script src="{% static 'scripts/welcome.js' %}""></script>
{% endblock %}