{% extends 'components/base.html' %}
{% load static from staticfiles %}

{% block styles %}
<link href="{% static 'styles/discover/welcome.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/header.html' %}
<div class="hero">
	<div class="hero-body">
		<h1>Welcome</h1>
		<p>We see you're new around here. Let's get you started!</p>
	</div>
</div>

<div class="content">
	<div class="container">
		<p>Bookmark a few of your few favorite memes to add to your profile!</p>
		
		<div class="meme-grid">
			<div class="grid-sizer"></div>
			{% for img in images %}
				<div class="meme" data-meme-id="{{ img.id }}">
					<img src="{{ img.url }}" title="{{ img.meme.title }}" />
				</div>
			{% endfor %}
		</div>
		<br />

		<button type="button" class="btn btn-secondary">Load More...</button>
		<br />
		<br />
	</div>
</div>

<div class="fab fab-continue"><i class="fa fa-bookmark" aria-hidden="true"></i></div>
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/csrf.js' %}"></script>
<script src="{% static 'lib/masonry/imagesloaded.min.js' %}"></script>
<script src="{% static 'lib/masonry/masonry.min.js' %}"></script>
<script src="{% static 'scripts/discover/welcome.js' %}"></script>
{% endblock %}