{% extends 'components/base.html' %}
{% load static from staticfiles %}

{% block styles %}
<link href="{% static 'styles/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">Memeconnect</h1>
            <h2 class="subtitle is-3">Invasively putting memes into your friendships.</h2>
            <div class="block">
                <a class="button is-white is-outlined is-large" href="{% url 'login' %}">Continue the Connections</a>
                <a class="button is-white is-outlined is-large" href="{% url 'register' %}">Join the Fun</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}{% endblock %}