{% extends 'components/base.html' %}
{% load static from staticfiles %}

{% block styles %}
<link href="{% static 'styles/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-body">
        <div class="title-block">
            <h1 class="title">Memeconnect</h1>
            <h2 class="subtitle">Invasively putting memes into your friendships.</h2>

            <a class="button" href="{% url 'login' %}">Continue the Connections</a>
            <a class="button" href="{% url 'session' %}">Join the Fun</a>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}{% endblock %}