{% extends 'components/base.html' %}
{% load static from staticfiles %}

{% block styles %}
    <link href="{% static 'styles/register.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-1">Log In</h1>
                <h2 class="subtitle is-4">Welcome to the Internet, my friend, how can I help you?</h2>

                <label class="label">Username</label>
                <p class="control">
                    <input class="input" type="text" placeholder="I Haven't Heard That Name In Years">
                </p>

                <label class="label">Password</label>
                <p class="control">
                    <input class="input" type="text" placeholder="hunter2">
                </p>
                
                </p>
                
                <br />
                <div class="control is-grouped">
                    <p class="control">
                        <button class="button is-black">Call Me Mr. Enter Cuz I'm Going In Deep</button>
                    </p>
                    <p class="control">
                        <a class="button is-link" href="{% url 'index' %}">I want off Mr. Bones' Wild Ride</a>
                    </p>
                </div>
            </div>
            <div class="column is-one-third">
                <h3 class="title is-1">Register</h3>
                <h4 class="subtitle is-4">Need an account?</h4>
                <a class="button is-link" href="{% url 'session' %}">Register</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}{% endblock %}