{% extends 'components/base.html' %}
{% load static from staticfiles %}

{% block styles %}
    <link href="{% static 'styles/register.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="register">
    	<div class="column row">
            <div class="register-help">
                <h1>Register</h1>

            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
              <label>Input Label
                <input type="text" placeholder=".medium-6.columns">
              </label>
            </div>
            <div class="medium-6 columns">
              <label>Input Label
                <input type="text" placeholder=".medium-6.columns">
              </label>
            </div>
          </div>
    </div>
{% endblock %}

{% block scripts %}{% endblock %}