{% extends 'components/base.html' %}
{% load static from staticfiles %}

{% block styles %}
    <link href="{% static 'styles/register.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="content">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <h1>Register</h1>
            <p>Join the greatest social network since MySpace.</p>

            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-12 col-md-2 col-form-label">Username</label>
                    <div class="col-xs-12 col-md-10">
                        <input class="form-control" name="username" type="text" placeholder="This is the username you will be seen as online." required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-password-input" class="col-xs-12 col-md-2 col-form-label">Password</label>
                    <div class="col-xs-12 col-md-10">
                        <input class="form-control" name="password" type="password" placeholder="We believe in you to enter it correctly the first time." required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-12 col-md-2 col-form-label">Email</label>
                    <div class="col-xs-12 col-md-10">
                        <input class="form-control" name="email" type="email" placeholder="We will not spam you with emails or share it with 3rd parties!" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-text-input" class="col-xs-12 col-md-2 col-form-label">Gender</label>
                    <div class="col-xs-12 col-md-10">
                        <select class="form-control" name="gender" id="exampleSelect1" required>
                            <option value="f">Female</option>
                            <option value="m">Male</option>
                            <option value="a">Bread</option>
                            <option value="o">Disclosed</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-xs-12 col-md-2"></label>
                    <div class="col-xs-12 col-md-10">
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" required> I accept all Terms of Service (as we make them up)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Serious Dog, Sign Me Up!</button>
                        <br />
                        <a class="btn btn-secondary" href="{% url 'index' %}">I want off Mr. Bones' Wild Ride</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-5">
            <h1>Log In</h1>
            <p>Alright have an account?</p>
            <a class="btn btn-secondary" href="{% url 'login' %}">Log In</a>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}