{% extends 'components/base.html' %}
{% load static from staticfiles %}

{% block styles %}
<link href="{% static 'styles/discover/welcome.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'components/header.html' %}
<div class="hero">
	<div class="hero-body">
		<h1>Welcome</h1>
		<p>We see you're new around here. Let's get you started!</p>
	</div>
</div>

<div class="content">
	<div class="container">
		<p>Pick some of your favorites, and when you're ready, </p>
	</div>
</div>
{% endblock %}

{% block scripts %}{% endblock %}