@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Comic Sans MS', san-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lily Script One', serif;
}

/* FABs */
.fab {
	border-radius: 50%;
	display: inline-block;
	height: 100px;
	width: 100px;
}

.fab span {
	color: #fff;
	display: block;
	font-size: 60px;
	text-align: center;
	width: 100%;
}

.fab i {
	color: #fff;
	display: block;
	font-size: 50px;
	text-align: center;
	padding-top: 24px;
	width: 100%;
}

/* Buttons */
.btn,
input,
textarea {
	font-family: 'Comic Sans MS', san-serif !important;
	border-radius: 0 !important;
}

.btn-primary {
	border: 1px solid #000;
	background-color: #000;
}

.btn-primary:hover {
	border: 1px solid #415e96;
	background-color: #415e96;
}

.btn-outline-secondary {
	background-color: rgba(0, 0, 0, 0.75);
	border-color: #fff !important;
	color: #fff !important;
}

/* Links */
a {
	color: #415e96;
}

a:hover {
	color: #f1be47;
}

/* Forms */

.emoji {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
}