.hero {
	background: #111 url('/static/assets/test.jpg') center center no-repeat;
	background-size: cover;
	height: 100%;
}

.hero-body {
	align-items: center;
	background: url('/static/assets/util/antipixel_overlay.png') repeat;
	display: flex;
	height: 100%;
}

.title-block {
	text-align: center;
	width: 100%;
}

.title {
	color: #fff;
	font-size: 52px !important;
}

.subtitle {
	color: #fff;
	font-family: 'Comic Sans MS', Verdana, san-serif;
	font-size: 18px !important;
}

@media only screen and (min-width : 992px) {
	.title {
		font-size: 90px !important;
	}

	.subtitle {
		font-size: 32px !important;
	}
}