<div class="title-bar" data-responsive-toggle="header-bar" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title"></div>
</div>

<div class="top-bar" id="header-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Memeconnect</li>
      <li><a href="#">Overview</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Matches</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><button type="button" class="button">Connect</button></li>
    </ul>
  </div>
</div>